<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="keywords" content="<%= keywords %>">
  <meta name="description" content="<%= description %>">
  <link rel="stylesheet" href="/dist/bootstrap.min.css" />
  <link rel='stylesheet' href='/dist/app.min.css' />
</head>
<body>